
{% extends 'base.html' %}
{% block content %}


<h1>Overall Progress</h1>

  <div class="nutritional_data_line">
      <canvas id="lineChart"></canvas>
      <div id="lineLegend" class="line-legend"></div>
   </div>


   <script> 
    "use strict";;
      $(function() {

      var data_list = {{ date_list|safe }}
      // var data_list = JSON.parse(data_list)

      var d_total_fat = {{ d_total_fat|safe }}
      // // var d_total_fat = JSON.parse(d_total_fat)

      var d_total_carbs = {{ d_total_carbs|safe }}
      // // var d_total_carbs = JSON.parse(d_total_carbs)

      var d_total_protein = {{ d_total_protein|safe }}
      // // var d_total_protein = JSON.parse(d_total_protein)
   

      var nutrition_data = {  
      	labels: data_list,
      	datasets: [
      	{
      		label: "% Fat",
      		fillColor: "rgba(253,180,092,0.5)",
      		StrokeColor: "rgba(253,180,092,0.8)",
      		pointHighlightFill: "rgba(253,180,092,0.75)",
      		pointHighlightStroke: "rgba(253,180,092,1)",
      		data: d_total_fat

      	},
        {
          label: "% Carbs",
          fillColor: "rgba(247,070,074,0.5)",
          StrokeColor: "rgba(247,070,074,0.8)",
          pointHighlightFill: "rgba(247,070,074,0.75)",
          pointHighlightStroke: "rgba(247,070,074,1)",
          data: d_total_carbs

        }, 
        {
          label: "% Protein",
          fillColor: "rgba(070,191,189,0.5)",
          StrokeColor: "rgba(070,191,189,0.8)",
          pointHighlightFill: "rgba(070,191,189,0.75)",
          pointHighlightStroke: "rgba(070,191,189,1)",
          data: d_total_protein

        }

      ]
     };


	  var options = {
	    scaleBeginAtZero: true,
	    animation: true,
	    responsive: true,
      legendTemplate: "<ul style=\"list-style: none\" class=\"line-legend\"><% for (var i=0; i<datasets.length; i++)\{\%><li><span style=\"background-color:<%=datasets[i].fillColor%>\"></span><%if(datasets[i].label)\{\%> <%=datasets[i].label%><\%\}%></li><\%\}%></ul>"
	   };


    var ctx_line = document.getElementById("lineChart").getContext("2d");
    var myLineChart = new Chart(ctx_line).Line(nutrition_data, options);
    // var ctx_doghnut = $("#doghnutChart").get(0).getContext("2d");
  
    // var myDoughnutChart = new Chart(ctx_doghnut).Doughnut(nutrition_data, { 
    //               animateScale: true}); 
    $('#lineLegend').html(myLineChart.generateLegend());
    // var ctx_donut = $("#donutChart").get(0).getContext("2d");
    // function makeDonutChart(data) {
    //  var myDonutChart = new Chart(ctx_donut).Doughnut(data, options);
    //   $('#donutLegend').html(myDonutChart.generateLegend());
    // };
	});
  </script><br><br>

{% include "charts.html" %}
{% endblock %}