{% extends 'base.html' %}
{% block content %}

<h2>Sign-Up</h2>

<form action="/sign-up" method="POST">
	<select name="feet">
		<option value="one">1</option>
		
	<label>Height <input type="" name="firstname"></label><br><br>
	<label>Weight  <input type="text" name="lastname"></label><br><br>
    <label>Age <input type="text" name="username"></label><br><br>
    <label>Gender <input type="text" name="password"></label><br><br>
 
    <input type="submit" value="submit">
  
</form>




{% endblock %}